<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user form</title>
</head>
<body>
    <form method="POST" action="/form">
        <label>Name</label>
        <input name="Name" type="text"><br>
        <label>Password</label>
        <input name="Password" type="password"><br>
        <label>Contact Number</label>
        <input number="number"><br>
        <label> Series</label>
        <input series="series" type="number"><br>
        <label> Roll.No</label>
        <input no="no",type="number"><br>
        <button type="submit" > SUBMIT </button>
        
    </form>



</body>
</html>