<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% if name == "Bhanu" %}
    {% for i in range(5) %}
        <h1>{{i,}} Hii {{name}} </h1><br>
        <h2>Welcome to my Website.</h2>
        <br>
        <p>Hello everyone,My name is Divya Mittal.I am basically from Indri which comes in district Karnal.
            I complete my BCA and now ,I am doing a additional skills course which is Data Analytics.
            So go ahead and see my journey through the course and if you hav any questions then it will be solved ahead for sure. </p>
    {% endfor %}        
    {% else %}
    <h1> Invalid User Name</h1>
    {% endif %}

</body>
</html>





